---
layout: nil
title: Demo 4 - Scroll to zoom
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ site.name }} - {{ page.title }}</title>

  <script src="http://use.typekit.com/bqa1ehi.js"></script> 
  <script>try{Typekit.load();}catch(e){}</script>

  <style media="screen">

    {% include styles1.css %}

    {% include styles2.css %}
    
    {% include styles3.css %}
    
  </style>
  
  <script>
    
    {% include modernizr.js %}

    (function(){

      // only proceed if CSS transforms are supported
      if ( !Modernizr.csstransforms ) {
        return;
      }

      // the constructor that will do all the work
      function Zoomer( content ) {
        // keep track of DOM
        this.content = content;

        // position of vertical scroll
        this.scrolled = 0;
        // zero-based number of sections
        this.levels = 4;
        // height of document
        this.docHeight = document.documentElement.offsetHeight;
        
        // bind Zoomer to scroll event
        window.addEventListener( 'scroll', this, false);

      }

      // enables constructor to be used within event listener
      // like obj.addEventListener( eventName, this, false )
      Zoomer.prototype.handleEvent = function( event ) {
        if ( this[event.type] ) {
          this[event.type](event);
        }
      };

      // triggered every time window scrolls
      Zoomer.prototype.scroll = function( event ) {
        // normalize scroll value from 0 to 1
        this.scrolled = window.scrollY / ( this.docHeight - window.innerHeight );

        var scale = Math.pow( 3, this.scrolled * this.levels ),
            transformValue = 'scale('+scale+')';

        this.content.style.WebkitTransform = transformValue;
        this.content.style.MozTransform = transformValue;
        this.content.style.OTransform = transformValue;
        this.content.style.transform = transformValue;
      };

      function init() {
        var content = document.getElementById('content'),

            // init Zoomer constructor
            ZUI = new Zoomer( content );

      }

      window.addEventListener( 'DOMContentLoaded', init, false );

    })();
  </script>

</head>

{% include demo-markup.html %}
