---
layout: nil
title: Demo 3 - Fixed zoom
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ site.name }} - {{ page.title }}</title>

  <script src="http://use.typekit.com/bqa1ehi.js"></script> 
  <script>try{Typekit.load();}catch(e){}</script>

  <style media="screen">

    {% include styles1.css %}

    {% include styles2.css %}
    
    .csstransforms #content {
      -webkit-transform: scale(27);
         -moz-transform: scale(27);
           -o-transform: scale(27);
              transform: scale(27);
    }
    
  </style>
  
  <script>
    {% include modernizr.js %}
  </script>

</head>

{% include demo-markup.html %}
