---
layout: nil
title: Demo 5 - Navigation
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ site.name }} - {{ page.title }}</title>

  <script src="http://use.typekit.com/bqa1ehi.js"></script> 
  <script>try{Typekit.load();}catch(e){}</script>

  <style media="screen">

    {% include styles1.css %}

    {% include styles2.css %}
    
    {% include styles3.css %}

    {% include styles4.css %}
    
  </style>
  
  <script>
    
    {% include modernizr.js %}

    (function(){

      // only proceed if CSS transforms are supported
      if ( !Modernizr.csstransforms ) {
        return;
      }

      // the constructor that will do all the work
      function Zoomer( content, navLinks ) {
        // keep track of DOM
        this.content = content;
        this.navLinks = navLinks;

        // position of vertical scroll
        this.scrolled = 0;
        // zero-based number of sections
        this.levels = 4;
        // height of document
        this.docHeight = document.documentElement.offsetHeight;
        
        this.levelGuide = {
          '#web-dev' : 0,
          '#front-end' : 1,
          '#css' : 2,
          '#css3' : 3,
          '#transforms' : 4
        };
        
        // bind Zoomer to scroll event
        window.addEventListener( 'scroll', this, false);
        // bind Zoomer.click to nav item clicks
        for ( var i=0, len = this.navLinks.length; i < len; i++ ) {
          this.navLinks[i].addEventListener( 'click', this, false );
        }
      }

      // enables constructor to be used within event listener
      // like obj.addEventListener( eventName, this, false )
      Zoomer.prototype.handleEvent = function( event ) {
        if ( this[event.type] ) {
          this[event.type](event);
        }
      };

      // triggered every time window scrolls
      Zoomer.prototype.scroll = function( event ) {
        // normalize scroll value from 0 to 1
        this.scrolled = window.scrollY / ( this.docHeight - window.innerHeight );

        var scale = Math.pow( 3, this.scrolled * this.levels ),
            transformValue = 'scale('+scale+')';

        this.content.style.WebkitTransform = transformValue;
        this.content.style.MozTransform = transformValue;
        this.content.style.OTransform = transformValue;
        this.content.style.transform = transformValue;
        
        // change current selection on nav
        this.currentLevel = Math.round( this.scrolled * this.levels );

        if ( this.currentLevel !== this.previousLevel ) {
          // remove previous currentNavItem
          if ( this.currentNavLink ) {
            this.currentNavLink.className = '';
          }
          // select new currentNavItem
          this.currentNavLink = this.navLinks[ this.currentLevel ];
          this.currentNavLink.className = 'current';
          this.previousLevel = this.currentLevel;
        }
      };
      
      // triggered on nav click
      Zoomer.prototype.click = function( event ) {
        //  get scroll based on href of clicked nav item
        var hash = event.target.hash || event.target.parentNode.hash;
        this.scrollFromHash( hash );
        event.preventDefault();
      };
      
      Zoomer.prototype.scrollFromHash = function( hash ) {
        var targetLevel = this.levelGuide[ hash ];
        // proceed only if hash matches a level
        if ( targetLevel === undefined ) {
          return;
        }
        var scrollY = targetLevel / this.levels;
        // adjust for scrollable height
        scrollY = scrollY * ( this.docHeight - window.innerHeight );
        // set hash in location URL
        window.location.hash = hash;
        // set scroll position, Zoomer.scroll will take care of the rest
        window.scrollTo( 0, scrollY );
      };

      function init() {
        var content = document.getElementById('content'),
            navLinks = document.querySelectorAll('#nav a'),
            // init Zoomer constructor
            ZUI = new Zoomer( content, navLinks );

        // scroll/zoom to hash if available 
        function scrollToHash() {
          if ( window.location.hash ) {
            ZUI.scrollFromHash( window.location.hash );
          }
        }
        window.addEventListener( 'load', scrollToHash, false );

      }

      window.addEventListener( 'DOMContentLoaded', init, false );

    })();
  </script>

</head>

{% include demo-markup.html %}
