---
layout: nil
---

{% include article-header.html %}

  <h1>{{ site.name }}</h1>

  <h2>by <a href="http://desandro.com">David DeSandro</a></h2>

  <p>Written for <a href="http://www.netmagazine.com/">.net magazine</a></p>

  <h3>Demos</h3>

  <ul>
    <li><a href="demo1.html">Demo 1 - Basic layout</a></li>
    <li><a href="demo2.html">Demo 2 - Scaled sections</a></li>
    <li><a href="demo3.html">Demo 3 - Fixed zoom</a></li>
    <li><a href="demo4.html">Demo 4 - Scroll to zoom</a></li>
  </ul>

  <hr />

  <div id="content">

  {% for post in site.posts reversed %}
    <div class="article">
      <h1>{{ post.title }}</h1>
      {{ post.content }}
    </div> <!-- .article -->
  {% endfor %}

{% include article-footer.html %}