---
layout: nil
---

{% include article-header.html %}

  <h1>{{ site.name }}</h1>

  <h2>by <a href="http://desandro.com">David DeSandro</a></h2>

  <p>Written for [.net magazine](http://www.netmagazine.com/)</p>

  <h3>Demos</h3>

  <ul>
    <li><a href="demo1.html">Demo 1</a></li>
    <li><a href="demo2.html">Demo 2</a></li>
    <li><a href="demo3.html">Demo 3</a></li>
    <li><a href="demo4.html">Demo 4</a></li>
  </ul>

  <h3>Images - hi res</h3>
  
  <ul>
    <li><a href="http://emberapp.com/desandro/images/zui-site-riot-demo-1/sizes/o">Demo 1</a></li>
  </ul>

  <hr />

  <div id="content">

  {% for post in site.posts reversed %}
    <div class="article">
      <h1>{{ post.title }}</h1>
      {{ post.content }}
    </div> <!-- .article -->
  {% endfor %}

{% include article-footer.html %}