<body>

  <div id="wrap">
    
    <ul id="nav">
      <li><a href="#web-dev">Web development</a></li>
      <li><a href="#front-end">Front-end development</a></li>
      <li><a href="#css">CSS</a></li>
      <li><a href="#css3">CSS3</a></li>
      <li><a href="#transforms">Transforms</a></li>
    </ul>
    
    <div id="container">
      
      <div id="grid">
        <div class="target"></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      
      <section id="web-dev">
        <header>
          <h1>Web development</h1>
          <p></p>
          <p></p>
        </header>
        
        <div class="box w3 y3">
          <h2>CMS Integration</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="w6 x3 y6">
          <h2>Server-side scripting</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="box w3 h3 y3 x6">
          <div class="img">&#x2606;</div>
        </div>
        
      </section>
      
      <section id="front-end">
        <header class="w6">
          <h1>Front-end development</h1>
        </header>
        
        <div class="w3 x6">
          <h2>HTML</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="w3 y3">
          <h2>JavaScript</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p> 
          <p></p> 
          <p></p> 
        </div>
        
        <div class="box w6 x3 y6 h3">
          <div class="img">&#x2606;</div>
        </div>
        
      </section>

      <section id="css">
        <header class="w3">
          <h1>CSS</h1>
        </header>
        
        <div class="w6 x3">
          <h2>Better performance</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="w6 x3 y6">
          <h2>Web Standards</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
          
        <div class="box w3 y3 h6">
          <div class="img">&#x2606;</div>
        </div>
        
        <div class="box w3 x6 y3 h3">
          <div class="img">&#x2606;</div>
        </div>
        
      </section>

      <section id="css3">
        <header class="x3 w3">
          <h1>CSS3</h1>
          <p></p>
          <p></p>
        </header>
        
        <div class="box w3 h3">
          <div class="img">&#x2606;</div>
        </div>
        
        <div class="box w3 x6 h3">
          <div class="img">&#x2606;</div>
        </div>
        
        <div class="w3 y3">
          <h2>Transitions</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="w3 y3 x6">
          <h2>Animation</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="w6 y6" style="margin-top: 15px;">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
      </section>

      <section id="transforms">
        <header>
          <h1>Transforms</h1>
        </header>
        
        <div class="w3 y3">
          <h2>Translate</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="w3 y6 x3">
          <h2>Scale</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="w3 y3 x6">
          <h2>Rotate</h2>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <div class="box w3 h3 y3 x3">
          <div class="img">&#x2606;</div>
        </div>
        
        <div class="box w3 h3 y6 x6">
          <div class="img">&#x2606;</div>
        </div>
        
      </section>
      
    </div> <!-- #container -->
    
  </div> <!-- #wrap -->

</body>
</html>
