
    /* step 2 */

    body {
      overflow: hidden;
    }

    #wrap {
      width: 900px;
      height: 540px;
      position: relative;
    }

    #container {
      width: 900px;
      height: 540px;
      position: absolute;
    }

    section {
      position: absolute;
    }

    #front-end {
      -webkit-transform: scale(0.3333);
         -moz-transform: scale(0.3333);
          -ms-transform: scale(0.3333);
           -o-transform: scale(0.3333);
              transform: scale(0.3333);
    }

    #css {
      -webkit-transform: scale(0.1111);
         -moz-transform: scale(0.1111);
          -ms-transform: scale(0.1111);
           -o-transform: scale(0.1111);
              transform: scale(0.1111);
    }

    #css3 {
      -webkit-transform: scale(0.037);
         -moz-transform: scale(0.037);
          -ms-transform: scale(0.037);
           -o-transform: scale(0.037);
              transform: scale(0.037);
    }

    #transforms {
      -webkit-transform: scale(0.0123456);
         -moz-transform: scale(0.0123456);
          -ms-transform: scale(0.0123456);
           -o-transform: scale(0.0123456);
              transform: scale(0.0123456);
    }