<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>

  <style media="screen">
    body {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      font-size: 14px;
      line-height: 1.6em;
      color: #333;
    }
    
    #wrap {
      width: 620px;
      margin: 0 auto;
      padding: 20px;
    }
    
    hr {
      border: none;
      border-bottom: 1px solid #BBB;
    }
    
  </style>

</head>
<body>

  <div id="wrap">
    {{ content }}
  </div>

  

</body>
</html>
